<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>MERCADO LIEBRE</title>

</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/img/logo-mercado-liebre.svg" alt="" class="logo">
            <div><input type="search" value="Buscar productos, marcas" class="input">
                <input type="submit" value="Buscar" class="input">
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasoficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/miscompra">Mis compras <i class="fas fa-shopping-bag"></i></a></li>
            </ul>
        </nav>

    </header>
    <div class="banner"><img src="/img/img-home-banner.jpg" alt="" class="bannerimg"></div>

    <main class="maincaja">
        <div class="contenedor">
            <div class="titulodeseccion">
                <h2>Basado en tu ultima visita</h2>
            </div>
            <div class="carrusel">
                <div class="contenedor-foto-texto">
                    <div>
                        <img src="/img/img-cafetera-moulinex.jpg" alt="" class="imagenes">
                    </div>
                    <div class="contenedor-texto-icono">
                        <div class="camionicon">
                            <i class="fas fa-truck" id="camionicono"></i>
                        </div>
                        <div class="contenedor-texto">
                            <div class="preciodescuento">
                                <h3 class="precio">$ 6.770</h3>
                                <h3 class="descuento">40% OFF</h3>
                            </div>
                            <h3 class="descripcion">Cafetera Moulinex</h3>
                        </div>
                    </div>
                </div>
                <div class="contenedor-foto-texto">
                    <div>
                        <img src="/img/img-macbook-pro-2019.jpg" alt="" class="imagenes">
                    </div>
                    <div class="contenedor-texto-icono">
                        <div class="camionicon">
                            <i class="fas fa-truck" id="camionicono"></i>
                        </div>
                        <div class="contenedor-texto">
                            <div class="preciodescuento">
                                <h3 class="precio">$ 230.000</h3>
                                <h3 class="descuento">20% OFF</h3>
                            </div>
                            <h3 class="descripcion">Macbook Pro 2019</h3>
                        </div>
                    </div>
                </div>
                <div class="contenedor-foto-texto">
                    <div>
                        <img src="/img/img-samsung-galaxy-s10.jpg" alt="" class="imagenes">
                    </div>
                    <div class="contenedor-texto-icono">
                        <div class="camionicon">
                            <i class="fas fa-truck" id="camionicono"></i>
                        </div>
                        <div class="contenedor-texto">
                            <div class="preciodescuento">
                                <h3 class="precio">$ 70.500</h3>
                                <h3 class="descuento">10% OFF</h3>
                            </div>
                            <h3 class="descripcion">Samsumg Galaxy S10</h3>
                        </div>
                    </div>
                </div>
                <div class="contenedor-foto-texto">
                    <div>
                        <img src="/img/img-tv-samsung-smart.jpg" alt="" class="imagenes">
                    </div>
                    <div class="contenedor-texto-icono">
                        <div class="camionicon">
                            <i class="fas fa-truck" id="camionicono"></i>
                        </div>
                        <div class="contenedor-texto">
                            <div class="preciodescuento">
                                <h3 class="precio">$ 23.200</h3>
                                <h3 class="descuento">5% OFF</h3>
                            </div>
                            <h3 class="descripcion">Smart Tv Samsung 43"</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <nav class="nav-footer">
            <div class="contenedorfooter">
                <div class="opcionesfooter">
                    <div class="iconofooter">
                        <i class="fas fa-credit-card" id="icono"></i>
                    </div>
                    <h4 class="titulosseleccion">Pagá con tarjeta o en efectivo</h4>
                    <p class="parrafo"> Mercado Liebre Cash, tenés cuotas sin
                        interés con tarjeta o efectivo en puntos de
                        de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="opcionesfooter">
                    <div class="iconofooter">
                        <i class="fas fa-gift" id="icono"></i>
                    </div>
                    <h4 class="titulosseleccion">Envío gratis desde $ 2.500</h4>
                    <p class="parrafo">por estar registrad@ en Mercado Liebre
                        tenés envíos gratis en miles de productos. Es
                        beneficio de Mercado Puntos.
                        No te gusta? ¡Devolvelo! En Mercado Liebre
                    </p>
                </div>
                <div class="opcionesfooter">
                    <div class="iconofooter">
                        <i class="fas fa-user-shield" id="icono"></i>
                    </div>
                    <h4 class="titulosseleccion">Seguridad, de principio a fin </h4>
                    <p class="parrafo">no hay nada que no puedas hacer, porque estás
                        siempre protegid@.</p>
                </div>

            </div>
        </nav>
        <div>
            <h3>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </h3>
        </div>
    </footer>
</body>

</html>