<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>MERCADO LIEBRE: Ingresa</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/img/logo-mercado-liebre.svg" alt="" class="logo">
            <div><input type="search" value="Buscar productos, marcas" class="input">
                <input type="submit" value="Buscar" class="input">
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasoficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/miscompras">Mis compras <i class="fas fa-shopping-bag"></i></a></li>
            </ul>
        </nav>

    </header>

    <main>

        <form action="home.html" method="POST">
            <div class="formulario-registro">

                <div>
                    <label for="usuario">Nombre de usuari@</label>
                    <input type="text" name="usuario">
                </div>

                <div>

                    <label for="contraseña">Contraseña</label>
                    <input type="password" name="Contraseña">
                </div>

                <div class="enviar-borrar">
                    <button type="submit" class="enviar"><a href="/">Enviar</a></button>
                </div>

            </div>
        </form>

    </main>


    <footer>
        <nav class="nav-footer">
            <div class="contenedorfooter">
                <div>
                    <div class="iconofooter">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <h4 class="titulosseleccion">Pagá con tarjeta o en efectivo</h4>
                    <p class="parrafo"> Mercado Liebre Cash, tenés cuotas sin
                        interés con tarjeta o efectivo en puntos de
                        de pago. ¡Y siempre es seguro!</p>
                </div>
                <div>
                    <div class="iconofooter">
                        <i class="fas fa-gift"></i>
                    </div>
                    <h4 class="titulosseleccion">Envío gratis desde $ 2.500</h4>
                    <p class="parrafo">por estar registrad@ en Mercado Liebre
                        tenés envíos gratis en miles de productos. Es
                        beneficio de Mercado Puntos.
                        No te gusta? ¡Devolvelo! En Mercado Liebre
                    </p>
                </div>
                <div>
                    <div class="iconofooter">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <h4 class="titulosseleccion">Seguridad, de principio a fin </h4>
                    <p class="parrafo">no hay nada que no puedas hacer, porque estás
                        siempre protegid@.</p>
                </div>
                <div>
                    <h3>
                        Copyright © 1999-2020 MercadoLiebre S.R.L.
                    </h3>
                </div>
            </div>
        </nav>
    </footer>

</body>

</html>